<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <title>DEMO</title>
</head>
<body>
<div class="container">
    {% include 'partial/table.html.twig' with {pagination: songs} %}
</div>


<script>
    $(function () {
        let sendData = function(pid,url,data){
            $(document).trigger('pagination.preload');
            $.ajax({
                url: url+'&ajax=true',
                data: data,
                type: 'GET',
                dataType:'html',
                success: function(html){
                    $('.pagination-ajax[data-pid='+pid+']').html($(html).filter('.pk-pagination').html());
                    $(document).trigger('pagination.success');
                    $(document).trigger('pagination.loaded');
                },
                error: function(){
                    $('.pagination-ajax[data-pid='+pid+']').html('');
                    $(document).trigger('pagination.error');
                    $(document).trigger('pagination.loaded');
                }
            });
        };

        $(document).on('click', '.pagination-ajax a', function () {
            let t = $(this)
            let pid = t.closest('.pagination-ajax').data('pid')
            if(t.data('no-ajax')){
                return true;
            }
            sendData(pid,t.attr('href'));
            return false;
        });

        $(document).on('submit', '.pagination-ajax form', function () {
            let t = $(this)
            if(t.data('no-ajax')){
                return true;
            }
            let pid = t.closest('.pagination-ajax').data('pid')
            let data = t.serialize();
            sendData(pid,t.attr('action'), data);
            return false;
        });

    });
</script>
</body>
</html>

